html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.header {
  position: fixed;
  padding: 20px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all 0.3s; }
  .header a {
    color: #fff;
    margin-left: 8px;
    cursor: pointer; }

.intro {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/intro.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  animation: introFadeIn 0.8s forwards; }

@keyframes introFadeIn {
  0% {
    transform: translateY(-100vh); }
  100% {
    transform: translateY(0vh); } }
  .intro .intro__text {
    animation: introTextFadeIn 0.8s forwards;
    transform: translateY(-100vh);
    color: #fff;
    text-align: center; }
    .intro .intro__text .intro__text__headline {
      font-weight: bold;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 23px; }
      @media (max-width: 599px) {
        .intro .intro__text .intro__text__headline {
          font-size: 40px; } }
    .intro .intro__text .intro__text__subheadline {
      font-size: 25px;
      font-weight: normal; }
      @media (max-width: 599px) {
        .intro .intro__text .intro__text__subheadline {
          font-size: 20px;
          width: 70vw;
          line-height: 1.2em; } }

@keyframes introTextFadeIn {
  0% {
    transform: translateY(-100vh); }
  100% {
    transform: translateY(0vh); } }

.button--newsletter {
  position: fixed;
  right: 50px;
  background-color: #262B35;
  border: solid 3px #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30vw;
  color: #fff;
  bottom: 50px;
  z-index: 10;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30vw;
  animation: introTextFadeIn 0.8s forwards;
  transform: translateY(-100vh); }

@media (max-width: 599px) {
  .newsletter--intro {
    display: none; } }

.quote .contentWrapper {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.quote .quote__text {
  font-size: 28px;
  text-align: center;
  line-height: 1.2em; }

.quote .quote__legende {
  margin-top: 20px;
  display: flex;
  align-items: center; }
  .quote .quote__legende .quote__legende__image {
    width: 32px;
    margin-right: 10px;
    height: 32px;
    border-radius: 50%;
    background-color: grey; }
  .quote .quote__legende .quote__legende__name {
    font-size: 12px; }

.numbers {
  background-color: #262B35; }
  .numbers .contentWrapper {
    justify-content: space-between;
    width: 100%;
    max-width: 780px; }
  .numbers h2 {
    color: #fff; }
    .numbers h2:after {
      background-color: #fff; }
  .numbers .number__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; }
    @media (max-width: 599px) {
      .numbers .number__box {
        margin-bottom: 50px; } }
    .numbers .number__box .number__box__number {
      font-size: 50px;
      line-height: 50px; }
    .numbers .number__box .number__box__legende {
      margin-top: 10px; }

.boxes .contentWrapper {
  width: 100%;
  max-width: 950px;
  justify-content: space-between; }

.boxes .box__box {
  background-color: #D7E4EE;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (max-width: 599px) {
    .boxes .box__box {
      width: 70%;
      margin-bottom: 30px; } }
  .boxes .box__box .box__box__icon {
    margin-bottom: 20px; }
  .boxes .box__box .box__box__headline {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3px; }
  .boxes .box__box .box__box__text {
    text-align: center; }

.engagement {
  background-color: #D7E4EE; }
  .engagement .contentWrapper {
    display: flex;
    flex-direction: column; }
  .engagement .engagement__box {
    display: flex;
    margin-bottom: 40px; }
    @media (max-width: 599px) {
      .engagement .engagement__box {
        width: 90%;
        justify-content: space-between; } }
    .engagement .engagement__box .engagement__imageBox {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .engagement .engagement__box .engagement__textBox {
      width: 75%; }
      .engagement .engagement__box .engagement__textBox .engagement__textBox__headline {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.1em;
        margin-bottom: 5px; }
        @media (max-width: 599px) {
          .engagement .engagement__box .engagement__textBox .engagement__textBox__headline {
            font-size: 20px;
            hyphens: auto; } }
      .engagement .engagement__box .engagement__textBox .engagement__textBox__text {
        font-size: 16px;
        line-height: 20px;
        hyphens: auto; }

.packs {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .packs h2 {
    margin-bottom: 30px; }
  .packs .contentWrapper {
    max-width: 950px;
    align-items: stretch; }
  .packs .pack__box {
    width: 32%;
    background-color: #D7E4EE;
    border-radius: 10px;
    text-align: center; }
    @media (max-width: 599px) {
      .packs .pack__box {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px; } }
    .packs .pack__box .pack__box__intro {
      border-radius: 10px 10px 0px 0px;
      padding: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: #262B35;
      color: #fff; }
      .packs .pack__box .pack__box__intro .pack__box__headline {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px; }
      .packs .pack__box .pack__box__intro .pack__box__text {
        font-size: 16px; }
    .packs .pack__box .pack__box__content {
      background-color: #D7E4EE;
      padding: 10px;
      padding-top: 30px;
      padding-bottom: 30px; }
      .packs .pack__box .pack__box__content p {
        margin-bottom: 20px;
        position: relative; }
        .packs .pack__box .pack__box__content p:after {
          position: absolute;
          content: "";
          background-color: grey;
          width: 100%;
          height: 1px;
          bottom: -7px;
          left: 50%;
          transform: translateX(-50%); }

.recrute h2 {
  margin-bottom: 30px; }

.recrute .contentWrapper {
  width: 100%;
  max-width: 950px;
  flex-wrap: wrap; }

.recrute .recrute__box {
  width: 23%;
  background-color: #262B35;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px; }
  @media (max-width: 599px) {
    .recrute .recrute__box {
      width: 60%; } }
  .recrute .recrute__box:hover {
    cursor: pointer;
    background-color: #D7E4EE;
    color: #D7E4EE;
    position: relative; }
    .recrute .recrute__box:hover:after {
      content: "Postulez";
      display: block;
      position: absolute;
      font-weight: bold;
      color: #262B35;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
      border: solid 2px #262B35;
      padding: 5px 10px;
      border-radius: 10px; }

.contact {
  position: fixed;
  width: 90vw;
  min-height: 100vh;
  background-color: #262B35;
  color: #fff;
  z-index: 11;
  top: 0vh;
  right: 0vw;
  transition: all 0.7s;
  transform: translateY(-100%);
  padding-top: 10vh;
  overflow: scroll; }
  @media (max-width: 599px) {
    .contact {
      width: 100%;
      padding-top: 0; } }
  .contact a {
    color: #fff;
    margin-bottom: 20px;
    display: block; }
  .contact h2:after {
    background-color: #fff; }
  .contact .contentWrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 950px; }
    @media (max-width: 599px) {
      .contact .contentWrapper {
        display: block;
        height: 100vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
        overflow-y: scroll; } }

button:focus {
  outline: none; }

.button--close {
  position: absolute;
  bottom: 50px;
  width: 50px;
  height: 50px;
  right: 50px;
  border-radius: 50%; }
  @media (max-width: 599px) {
    .button--close {
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      border: solid 2px #fff;
      background-color: #262B35;
      position: absolute;
      z-index: 10; } }
  .button--close:after, .button--close:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    background-color: #fff;
    top: calc(50% - 15px);
    left: 50%;
    transform-origin: center; }
    @media (max-width: 599px) {
      .button--close:after, .button--close:before {
        height: 20px;
        top: calc(50% - 10px);
        left: 45%; } }
  .button--close:after {
    transform: rotate(135deg); }
  .button--close:before {
    transform: rotate(45deg); }

.button--contact {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 3px #262B35;
  color: #262B35;
  cursor: pointer; }
  .button--contact:hover {
    background-color: #262B35;
    color: #fff; }

.contact--wrapper {
  margin-top: 30px; }
  .contact--wrapper .contact--mail {
    width: 65%;
    position: relative; }
    @media (max-width: 599px) {
      .contact--wrapper .contact--mail {
        width: 100%;
        padding-bottom: 50px;
        margin-bottom: 50px; } }
    .contact--wrapper .contact--mail:after {
      position: absolute;
      content: "";
      height: 50%;
      background-repeat: 3vw;
      top: 0;
      width: 3px;
      background-color: #fff;
      display: block;
      right: 0%; }
      @media (max-width: 599px) {
        .contact--wrapper .contact--mail:after {
          width: 50%;
          height: 1px;
          bottom: 0;
          top: auto;
          right: 25%; } }
    .contact--wrapper .contact--mail form {
      width: 90%; }
      @media (max-width: 599px) {
        .contact--wrapper .contact--mail form {
          width: 100%; } }
      .contact--wrapper .contact--mail form input, .contact--wrapper .contact--mail form textarea {
        width: 100%;
        background-color: transparent;
        border: solid 1px #fff;
        font-size: 17px;
        color: #fff;
        padding: 5px; }
        .contact--wrapper .contact--mail form input:focus, .contact--wrapper .contact--mail form textarea:focus {
          background-color: #fff;
          color: #262B35; }
      .contact--wrapper .contact--mail form ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff; }
      .contact--wrapper .contact--mail form ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff; }
      .contact--wrapper .contact--mail form :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff; }
      .contact--wrapper .contact--mail form :-moz-placeholder {
        /* Firefox 18- */
        color: #fff; }
      .contact--wrapper .contact--mail form .button--sumbit {
        width: auto;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: #262B35;
        border: solid 3px #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 30vw;
        color: #fff;
        bottom: 50px;
        margin-top: 20px; }
  .contact--wrapper .contact--telephone {
    width: 30%; }
    @media (max-width: 599px) {
      .contact--wrapper .contact--telephone {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .contact--wrapper .contact--telephone .footer__ouverture {
          text-align: left;
          width: 80%; } }

.footer {
  background-color: #262B35;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  .footer .contentWrapper {
    width: 100%;
    max-width: 950px !important;
    display: block; }

.footer__left {
  margin-top: 20px;
  margin-bottom: 40px; }
  @media (max-width: 599px) {
    .footer__left {
      margin-bottom: 20px; } }

.footer__right {
  margin-top: 20px;
  margin-bottom: 40px; }
  @media (max-width: 599px) {
    .footer__right {
      margin-bottom: 20px; } }

.footer__last {
  display: flex !important;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px; }

.footer a {
  color: #ffffff; }

.footer__ouverture {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr; }
  .footer__ouverture .ouverture__time {
    text-align: right; }

@media (max-width: 599px) {
  .footer__copyright {
    font-size: 12px; } }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #efefef;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.3em; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.contentWrapper {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding: 20px; }
  @media (max-width: 599px) {
    .contentWrapper {
      flex-direction: column;
      align-items: center; } }

.box--flex {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 599px) {
    .box--flex {
      display: block; } }

h2 {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase; }
  h2:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -10px;
    height: 3px;
    background-color: #000;
    display: block;
    left: 50%;
    transform: translateX(-50%); }
  @media (max-width: 599px) {
    h2 {
      width: 80vw; }
      h2:after {
        width: 50%; } }

.section__intro {
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 600px;
  text-align: center; }
  @media (max-width: 599px) {
    .section__intro {
      font-size: 16px;
      width: 80%; } }
