.header{
  position: fixed;
  padding: 20px;
  width:100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  transition: all 0.3s;
  //background-color: $color--main;
  // &:after{
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   height:1px;
  //   width:100vw;
  //   background-color: #fff;
  //   left:0;
  // }
  a{
    color:#fff;
    margin-left: 8px;
    cursor: pointer;
  }
}