.intro{
  height:100vh;
  width:100vw;
  background-image: url(../img/intro.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  animation: introFadeIn 0.8s forwards;
  @keyframes introFadeIn {
    0%{transform: translateY(-100vh)}
    100%{transform: translateY(-0vh)}
  }
  .intro__text{
    animation: introTextFadeIn 0.8s forwards;
    transform: translateY(-100vh);
    
    color:#fff;
    text-align: center;
    .intro__text__headline{
      font-weight: bold;
      font-size: 50px;
      text-transform: uppercase;
      margin-bottom: 23px;
      @include max-sx{
        font-size: 40px;
        
      }
    }
    .intro__text__subheadline{
      font-size: 25px;
      font-weight: normal;
      @include max-sx{
        font-size: 20px;
        width: 70vw;
        line-height: 1.2em;
      }
    }
  }
}

@keyframes introTextFadeIn {
  0%{transform: translateY(-100vh)}
  100%{transform: translateY(0vh)}
}

.button--newsletter{
  position: fixed;
  right:50px;
  background-color: $color--main;
  border: solid 3px #fff;
  font-weight: bold;
  font-size: 16px;
  padding:10px 20px;
  border-radius: 30vw;
  color: #fff;
  bottom: 50px;
  z-index: 10;
  font-weight: bold;
  font-size: 16px;
  padding:10px 20px;
  border-radius: 30vw;
  animation: introTextFadeIn 0.8s forwards;
  transform: translateY(-100vh);
}

.newsletter--intro{
  @include max-sx{
    display: none;
  }
}