@import "reset";
@import "mixin";
@import "header";
@import "intro";
@import "quote";
@import "numbers";
@import "box";
@import "engagement";
@import "pack";
@import "recrute";
@import "contact";
@import "footer";



*{
  box-sizing: border-box;
}
body { 
  margin: 0; 
  background-color: #efefef; 
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.3em;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contentWrapper{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  padding:20px;
  @include max-sx{
    flex-direction: column;
    align-items: center;
  }
}

.box--flex{
  width:100%;
  display: flex;
  justify-content: space-between;
  @include max-sx{
    display: block;
  }
}

h2{
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
  &:after{
    position: absolute;
    content:"";
    width:100%;
    bottom:-10px;
    height:3px;
    background-color: #000;
    display: block;
    left:50%;
    transform: translateX(-50%)
  }
  @include max-sx{
    width:80vw;
    &:after{
      width:50%;
    }
  }
}

.section__intro{
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 600px;
  text-align: center;
  @include max-sx{
    font-size: 16px;
    width:80%;
  }
}


.popUp{
  position: fixed;
  width:100vw;
  min-height:100vh;
  background-color: $color--main;
  color:#fff;
  z-index: 11;
  top:0vh;
  right:0vw;
  transition: all 0.7s;
  transform: translateY(-100%);
  padding-top: 10vh;
  overflow: scroll;
  @include max-sx{
    width: 100%;  
    padding-top: 0;
  }
  .contentWrapper{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 950px;
    @include max-sx{
      display: block;
      height: 100vh;
      padding-top: 10vh;
      padding-bottom: 10vh;
      overflow-y: scroll;
    }
  }
  h2{
    &:after{
      background-color: #fff;
      // @include max-sx{
      //   display: none; 
      // }
    }
  }
}
.linkSection{
  z-index: 10;
}

.button--link{
  position: fixed;
  top: 90vh;
  right:0;
  width:40px;
  cursor: pointer;
  height:40px;
  right:20px;
  background-color:$color--main;
  border: solid 2px #fff;
  z-index: 10;
  border-radius: 50%;
  @include max-sx{
    right:10px;
    bottom:10px;
  }
  &:hover{
    background-color:$color--secondary;
    svg{
      fill: $color--main;
    } 
    
  }

  svg {
    width:80%;
    fill:#fff;
  }
}
