.numbers{
  background-color: $color--main;
  .contentWrapper{
    justify-content: space-between;
    width:100%;
    max-width: 780px;
  }
  h2{
    color: #fff;
    &:after{
      background-color: #fff;
    }
  }

  .number__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    @include max-sx{
      margin-bottom: 50px;
    }
    
    .number__box__number{
      font-size: 50px;
      line-height: 50px;
      
    }
    .number__box__legende{
      margin-top: 10px;
    }
  }
}