.packs{
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    margin-bottom: 30px;
  }
  
  .contentWrapper{
    max-width: 950px;
    align-items: stretch;
  }
  .pack__box{
    width:32%;
    background-color: $color--secondary;
    border-radius: 10px;
    @include max-sx{
      width:90%;
      margin-left:5%;
      margin-bottom: 40px;
    }
    
    text-align: center;
    .pack__box__intro{
      border-radius: 10px 10px 0px 0px;
      padding:10px;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: $color--main;
      color:#fff;
      .pack__box__headline{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .pack__box__text{
        font-size: 16px;
      }
    }
    
    .pack__box__content{
      background-color: $color--secondary;
      padding:10px;
      padding-top: 30px;
      padding-bottom: 30px;
      p{
        margin-bottom: 20px;
        position: relative;
        &:after{
          position: absolute;
          content: "";
          background-color: grey;
          width:100%;
          height:1px;
          bottom: -7px;
          left: 50%;
          transform: translateX(-50%)
        }
      }
    }
  }
}

    
      